<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>
		First Page
	</title>
</head>

<body>
	<p>
		<center>
			<h1>
				Abhishek Kumar
			</h1>
		</center>
	</p>
	<br>
	 <p>
		<center>
			<h3>
				Machine Learning Projects for Customer Use.
			</h3>
		</center>
	 </p>
	 <br>
	 <p>
		<center>
			<p>
				<h4>
					<a href="/hfp">
						1.) Heart Failure Prediction.
					</a>
				</h4>
			</p>
			<br>
			<p>
				<h4>
					<a href="/bmi">
						2.) Bmi Prediction on Height & Weight.
					</a>
				</h4>
			</p>
			<br>
			<p>
				<h4>
					<a href="/bcp">
						3.) Breast Cancer Prediction.
					</a>
				</h4>
			</p>
			<br>
			<p>
				<h4>
					<a href="/rwq">
						4.) Red Wine Quality.
					</a>
				</h4>
			</p>
		</center>
	 </p>
</body>
</html>